<mat-toolbar class="header">
    <span>
        <img class="logo" src="assets/logo.jpg" alt="logo">
        Missão de Águias Church
    </span>
    <button *ngIf="mostrarMenu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <mat-nav-list class="nav-list">
            <a *ngIf="mostrarMenuUsuario" mat-list-item routerLink="/usuario">
                <mat-icon>manage_accounts</mat-icon>
                Usuários
            </a>
    
            <a mat-list-item routerLink="/curso">
                <mat-icon>home</mat-icon>
                Cursos
            </a>
    
            <a mat-list-item routerLink="/aluno">
                <mat-icon>school</mat-icon>
                Alunos
            </a>
    
            <a mat-list-item routerLink="/professor">
                <mat-icon>people</mat-icon>
                Professores
            </a>
    
            <a mat-list-item routerLink="/materia">
                <mat-icon>book</mat-icon>
                Matérias
            </a>
    
            <a mat-list-item routerLink="/aula">
                <mat-icon>bookmarks</mat-icon>
                Aulas
            </a>
    
            <a mat-list-item routerLink="/tarefa">
                <mat-icon>home_work</mat-icon>
                Tarefas
            </a>
    
            <a mat-list-item routerLink="/logout">
                <mat-icon>logout</mat-icon>
                Logout
            </a>
        </mat-nav-list>
    </mat-menu>
</mat-toolbar>