.header {
    top: 0;
    width: 100%;
    position: sticky;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header .logo {
    max-width: 4rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-list mat-icon {
    padding-right: 0.5rem
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: space-between;
    }

    .header span {
        font-size: 1rem;
    }

    .header button {
        visibility: visible;
    }

    .header .logo {
        max-width: 3.5rem;
    }
}

@media screen and (min-width: 769px) {
    .header button {
        visibility: hidden;
    }
}