.side-nav {
    background-color: #212121;
}

.side-nav a {
    color: #FFF;
}

.side-nav mat-icon {
    padding-right: 0.625rem;
}

.content {
    padding: 0.625rem;
    background-color: #ffffffbd;
}

@media screen and (max-width: 768px) {
    .side-nav {
        visibility: hidden!important;
        width: 0rem;
    }
}

@media screen and (min-width: 769px) {
    .side-nav {
        visibility: visible!important;
        width: 9.375rem;
    }
}