<mat-sidenav-container class="container">
    <mat-sidenav *ngIf="mostrarMenu" class="side-nav" mode="side" opened fixedInViewport fixedTopGap=64 fixedBottomGap=64>
        <mat-nav-list class="nav-list">
            <a *ngIf="mostrarMenuUsuario" mat-list-item routerLink="usuario">
                <i class="material-icons">
                    manage_accounts
                </i>
                Usuários
            </a>

            <a mat-list-item routerLink="/curso">
                <i class="material-icons">
                    home
                </i>
                Cursos
            </a>

            <a mat-list-item routerLink="/aluno">
                <i class="material-icons">
                    school
                </i>
                Alunos
            </a>

            <a mat-list-item routerLink="/professor">
                <i class="material-icons">
                    people
                </i>
                Professores
            </a>

            <a mat-list-item routerLink="/materia">
                <i class="material-icons">
                    book
                </i>
                Matérias
            </a>

            <a mat-list-item routerLink="/aula">
                <i class="material-icons">
                    bookmarks
                </i>
                Aulas
            </a>

            <a mat-list-item routerLink="/tarefa">
                <i class="material-icons">
                    home_work
                </i>
                Tarefas
            </a>

            <a mat-list-item routerLink="/logout">
                <i class="material-icons">
                    logout
                </i>
                Logout
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>