.side-nav {
    background-color: #212121;
    width: 9.375rem;
}

.side-nav a {
    color: #FFF;
}

.side-nav i {
    padding-right: 0.625rem;
}

.content {
    padding: 10px;
    background-color: #ffffffbd;
}

@media screen and (max-width: 768px) {
    .side-nav {
        visibility: hidden;
    }
}

@media screen and (min-width: 769px) {
    .side-nav {
        visibility: visible;
    }
}