<mat-sidenav-container class="container">
    <mat-sidenav *ngIf="mostrarMenu" class="side-nav" mode="side" opened fixedInViewport fixedTopGap=64 fixedBottomGap=64>
        <mat-nav-list class="nav-list">
            <a *ngIf="mostrarMenuUsuario" mat-list-item routerLink="usuario">
                <mat-icon>manage_accounts</mat-icon>
                Usuários
            </a>

            <a mat-list-item routerLink="/curso">
                <mat-icon>home</mat-icon>
                Cursos
            </a>

            <a mat-list-item routerLink="/aluno">
                <mat-icon>school</mat-icon>
                Alunos
            </a>

            <a mat-list-item routerLink="/professor">
                <mat-icon>people</mat-icon>
                Professores
            </a>

            <a mat-list-item routerLink="/materia">
                <mat-icon>book</mat-icon>
                Matérias
            </a>

            <a mat-list-item routerLink="/aula">
                <mat-icon>bookmarks</mat-icon>
                Aulas
            </a>

            <a mat-list-item routerLink="/tarefa">
                <mat-icon>home_work</mat-icon>
                Tarefas
            </a>

            <a mat-list-item routerLink="/logout">
                <mat-icon>logout</mat-icon>
                Logout
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>