<mat-card>
    <mat-card-title>Novo professor</mat-card-title>
    <form>
        <mat-card class="card">
            <mat-card-title>Dados pessoais</mat-card-title>
            <mat-form-field>
                <input matInput name="nome" placeholder="Nome" [(ngModel)]="professor.nome">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="cpf" placeholder="CPF" mask="000.000.000-00" [(ngModel)]="professor.cpf">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="date" name="dataNascimento" placeholder="Data de nascimento" [(ngModel)]="professor.dataNascimento">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="email" placeholder="e-Mail" [(ngModel)]="professor.email">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="celular" placeholder="Celular" mask="0000000-0000" [(ngModel)]="professor.celular">
            </mat-form-field>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>Endereço residencial</mat-card-title>
            <mat-form-field>
                <input matInput name="cep" placeholder="CEP" mask="00000000" (blur)="consultaCep()" [(ngModel)]="professor.enderecoResidencial.cep">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="uf" placeholder="UF" [(ngModel)]="professor.enderecoResidencial.uf">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="cidade" placeholder="Cidade" [(ngModel)]="professor.enderecoResidencial.cidade">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="bairro" placeholder="Bairro" [(ngModel)]="professor.enderecoResidencial.bairro">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="logradouro" placeholder="Logradouro" [(ngModel)]="professor.enderecoResidencial.logradouro">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="numero" placeholder="Número" [(ngModel)]="professor.enderecoResidencial.numero">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="complemento" placeholder="Complemento" [(ngModel)]="professor.enderecoResidencial.complemento">
            </mat-form-field>
        </mat-card>
    </form>
    <button mat-raised-button (click)="create()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>