.login .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.login .subtitle {
    font-size: 1.1rem;
}

.card-main {
    max-width: 60rem;
}

button {
    margin-right: 5px;
}