.login .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.login .subtitle {
    font-size: 1.1rem;
}

@media screen and (min-width: 769px) {
    .teste {
        display: flex;
        /*flex-direction: row;*/
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .login .title {
        font-size: 2rem;
        font-weight: 200;
        line-height: 1.1;
    }

    .login .subtitle {
        font-size: 1rem;
    }
}

@media screen and (max-width: 436px) {
    .login .title {
        font-size: 1.5rem;
        font-weight: 150;
        line-height: 1;
    }

    .login .subtitle {
        font-size: 0.9rem;
    }
}