<mat-card>
    <mat-card-title>Atualizar usuário</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput name="nome" placeholder="Nome" [(ngModel)]="usuario.nome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="cpf" placeholder="CPF" [(ngModel)]="usuario.cpf" mask="000.000.000-00" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="email" placeholder="e-Mail" [(ngModel)]="usuario.email" disabled>
        </mat-form-field>
        <label for="autorizado">Autorizado</label>
        <input type="checkbox" id="autorizado">
    </form>
    <button mat-raised-button (click)="update()" color="primary">
        Atualizar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>