<mat-card>
    <mat-card-title>Autorização de usuário</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput name="nome" placeholder="Nome" [(ngModel)]="usuario.nome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="cpf" placeholder="CPF" [(ngModel)]="usuario.cpf" mask="000.000.000-00" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="email" placeholder="e-Mail" [(ngModel)]="usuario.email" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="authorize()" color="primary">
        Autorizar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>